In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [4]:
import pandas as pd

In [6]:

df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.columns = ['first_name', 'last_name', 'email']

In [14]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [16]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [27]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [29]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [31]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [33]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [35]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [45]:
df.at[2,"last"]="ADI VENKAT"

In [55]:
df.at[2,"first"]="RAMINENI"

In [57]:
df

      first            last                    email
0     Corey         Schafer  CoreyMSchafer@gmail.com
1      Jane             Doe        JaneDoe@email.com
2  RAMINENI      ADI VENKAT      JohnSmith@email.com